.form-group .form-control{
    margin-right: 2.2rem;
    width: 90%;
}
.form-group{
    float: left;
}
#content_rop,#chu_rop{
    height:500px;
    display: none;
}.rop{
    min-height: 500px !important;
}
.image{
    width: 18px;
    height: 18px;
    vertical-align:top;
}
.sidebar{
    font-size: 1rem;
}